body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Ubuntu", sans-serif; */
}

.button-color {
  background-color: #bfd2f8;
  border: none;
  border-radius: 25px;
}

.navy {
  background-color: #1f2b6c;
}

.background-hero {
  background-image: url("img/rs.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
